body{
    background:rgb(134, 209, 134);
    font-family:Verdana, Geneva, Tahoma, sans-serif;

}

.assignments {
    display:flex;
    flex-wrap: wrap;
}
.assignment {
    
    width: 22%;
    padding: 20px;
    background:rgb(82, 165, 82);
    padding: 20px 10px;
    margin: 10px; 
    border-radius: 5px; 


}

.assignment img{ 
    padding:5 px; 
    width: 370px;
    height: 400px; 
    margin: 10px; 
    display: block;
    margin: auto;

}

h1{
    color:black 
   
}
h2 {
    color:black
}